@page "/"

<img src="img/chromely.png" class="img-rounded" alt="Cinque Terre" width="240" height="240">

<p>
	chromely blazor
</p>
<p>
	Build .NET/.NET CORE HTML5 Desktop Apps! 11
</p>
<p>
	<a href="https://github.com/chromelyapps/Chromely" class="btn btn-default" role="button" style='margin: 5px;'>more info</a>
</p>
